﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Aber.master.cs" Inherits="aber.ar.Aber" %>

<!DOCTYPE html>
<html>
<head runat="server">
    <meta charset="UTF-8">
    <title>Aber Hotels Saudi Arabia</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Boudl Group">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=no">    
    <link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet" type='text/css'>
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css">
    <link rel="shortcut icon" type="image/png" href="assets/img/favicon.png" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/5adc76cf227d3d7edc2483a8/default';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script-->
</head>
<body>
    <form id="form1" runat="server">
        <!-- Top Header -->
        <div id="top-header">
            <div class="inner-container container">
                <!-- Contact Info -->
                <ul class="contact-info list-inline">
                    <li><i class="fa fa-phone"></i>0112114980</li>
                    <li><i class="fa fa-envelope-o"></i>aber101@aberhotels.com</li>
                </ul>

                <!-- Language Switcher 
                <select id="language-switcher">
                    <option value="1">English</option>
                    <option value="2">العربية</option>
                </select>
                End of Language Switcher -->
            </div>
        </div>
        <!-- End of Top Header -->
        <!-- Main Header -->
        <header id="main-header">
            <div class="inner-container container">
                <div class="left-sec col-sm-4 col-md-2 clearfix">
                    <!-- Top Logo -->
                    <div id="top-logo">
                    </div>
                </div>
                <div class="right-sec col-sm-8 col-md-10 clearfix">
                    <!-- Book Now -->
                    <a href="default.aspx" class="book-now-btn">
                        <img src="assets/img/aber-logo.png" alt="aber logo" class="aber-logo" /></a>
                    <!-- Main Menu -->
                    <nav id="main-menu">
                        <ul class="list-inline">
                            <li><a href="default.aspx">الرئيسية</a></li>
                            <li><a href="saudi-arabia-hotel-offers.aspx">اخر العروض</a></li>
                            <li><a href="gallery.aspx">معرض الميديا</a></li>
                            <li><a href="news.aspx">الأخبار</a></li>
                            <li><a href="javascript:;">فروعنا</a></li>
                            <li><a href="javascript:;">وظائف</a></li>
                            <li><a href="about-us.aspx">عن عابر</a></li>
                            <li><a href="contact-us.aspx">اتصل بنا</a></li>
                            <li><a href="../">English</a></li>
                        </ul>
                    </nav>
                    <!-- Menu Handel -->
                    <div id="main-menu-handle" class="hidden-md hidden-lg"><i class="fa fa-bars"></i></div>
                </div>
            </div>
            <div id="mobile-menu-container" class="hidden-md hidden-lg"></div>
        </header>
        <!-- End of Main Header -->
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
        <!-- Top Footer -->
        <div id="top-footer">
            <div id="go-up-box"><i class="fa fa-chevron-up"></i></div>
            <div class="inner-container container">
                <div class="widget col-xs-6 col-md-4">
                    <h4>عن بودل</h4>
                    <div class="widget-content">
                        تأسست شركة بودل للتجارة عام 1963 تحت إسم شركة صالح ناصر الخليوى وأولادة التجارية. إنبثق عن هذه الشركة عدة نشاطات وأعمال، منها نشاط الصناعة الفندقية الذى يغطى فنادق الدرجة المتوسطة والفنادق الصغيرة وبعدد محدود من الغرف. 

                    </div>
                </div>
                <div class="widget col-xs-6 col-md-4">
                    <h4>قائمة البريد الالكترونية</h4>
                    <div class="widget-content">
                        <div class="desc">
                            اشترك لمعرفة اخر العروض الخاصة بنا
                        </div>
                        <div class="news-letter-form">
                            <input type="text" class="email" placeholder="البريد الإلكتروني">
                            <input type="submit" class="btn btn-default" value="أفتح حساب الأن">
                        </div>
                    </div>
                </div>
                <div class="widget col-md-4 get-in-touch">
                    <h4>ابقى على تواصل</h4>
                    <div class="widget-content">
                        <ul class="">
                            <li><i class="fa fa-map-marker "></i>حي الياسمين، الرياض، المملكة العربية السعودية</li>
                            <li><i class="fa fa-phone"></i>0112114980</li>
                            <li><i class="fa fa-envelope-o"></i><a href="mailto:aber101@aberhotels.com">aber101@aberhotels.com</a></li>
                        </ul>
                        <ul class="list-inline social-icons">
                             <li><a href="https://twitter.com/aberhotels" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.instagram.com/aberhotels/" target="_blank"><i class="fa fa-instagram"></i></a></li>                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Top Footer -->
        <!-- Footer -->
        <footer id="footer">
            <div class="copy-right">
                &copy; 2017 Boudl All Rights Reserved. Website by <a href="http://www.creative-sols.com" target="_blank">Creative Solutions</a>
            </div>
        </footer>
        <!-- End of Footer -->
        <!-- Include the js files  -->
        <script type="text/javascript" src="assets/js/jquery.js"></script>
        <script type="text/javascript" src="assets/js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="assets/js/isotope.pkgd.min.js"></script>
        <script type="text/javascript" src="assets/js/jquery.magnific-popup.min.js"></script>
        <script type="text/javascript" src="assets/js/imagesloaded.pkgd.min.js"></script>
        <script type="text/javascript" src="assets/js/helper.js"></script>
        <script type="text/javascript" src="assets/js/template.js"></script>
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                "use strict";
                // Init the Wow plugin
                new WOW({ mobile: false }).init();
            });
        </script>
        <asp:ContentPlaceHolder ID="FooterScripts" runat="server">
        </asp:ContentPlaceHolder>
    </form>
</body>
</html>
