﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ar/Aber.Master" AutoEventWireup="true" CodeBehind="news-details.aspx.cs" Inherits="aber.ar.news_details" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <!-- Internal Page Header -->
    <div class="internal-page-title about-page" data-parallax="scroll" data-image-src="../assets/img/internal-header.jpg">
        <h1><span>أخبار</span></h1>
        <ol class="breadcrumb">
            <!-- Internal Page Breadcrumb -->
            <li><a href="default.aspx">الرئيسية</a></li>
            <li><a href="news.aspx">أخبار</a></li>
            <li class="active">تفاصيل</li>
        </ol>
    </div>
    <!-- End of Internal Page Header -->

    <!-- Main Container -->
    <div class="main-content container">

        <!-- Page Content -->
        <div class="page-content col-md-12">

            <!-- Post Container -->
            <div class="post-container">
                <!-- Post boxes -->
                <div class="post-box">
                    <a href="#">
                        <img src="assets/img/blog/aber-news.jpg" alt="Aber hotel news" class="post-img">
                    </a>
                    <a href="#" class="post-title">Aber Hotel Now Opening Only (SAR 195)</a>
                    <div class="post-desc">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati vel, et hic. Magni delectus tempore iste, neque minus in! At praesentium sunt dolore quas similique temporibus vel excepturi nostrum facere, consectetur quae magni dicta accusantium obcaecati voluptate. Minus, modi ab.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat sunt dignissimos magnam aperiam atque blanditiis a, explicabo ut, nam, optio sapiente! Blanditiis eius deleniti repellendus, cumque cupiditate pariatur doloribus quam.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente eum incidunt quisquam ea, ipsam repudiandae iste, deserunt ut praesentium modi unde culpa atque et mollitia officia sed. Repellat quia soluta temporibus itaque odio odit veritatis iure ab praesentium! Dolorem voluptas, reprehenderit nisi doloribus rem vero. Velit iusto iste, iure rem?
                        </p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati vel, et hic. Magni delectus tempore iste, neque minus in! At praesentium sunt dolore quas similique temporibus vel excepturi nostrum facere, consectetur quae magni dicta accusantium obcaecati voluptate. Minus, modi ab.
							<br>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat sunt dignissimos magnam aperiam atque blanditiis a, explicabo ut, nam, optio sapiente! Blanditiis eius deleniti repellendus, cumque cupiditate pariatur doloribus quam.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente eum incidunt quisquam ea, ipsam repudiandae iste, deserunt ut praesentium modi unde culpa atque et mollitia officia sed. Repellat quia soluta temporibus itaque odio odit veritatis iure ab praesentium! Dolorem voluptas, reprehenderit nisi doloribus rem vero. Velit iusto iste, iure rem?
                        </p>
                    </div>
                    <div class="post-meta clearfix">
                        <div class="post-date">28 - July - 2017</div>
                    </div>
                </div>
            </div>
            <!-- End of Post Container -->
        </div>
    </div>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="FooterScripts" runat="server">
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky");
    </script>
</asp:Content>
