﻿<%@ Page Title="Register At Aber Hotel" Language="C#" MasterPageFile="~/Aber.Master" AutoEventWireup="true" CodeBehind="register.aspx.cs" Inherits="aber.register" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ScriptContainer" runat="server">
</asp:Content>
